html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(164, 162, 162);
    height: 100%;
}

/* Pop-up Login e Matricula */
#welcome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:#00ffc3de;
}

dialog{
border: none;
border-radius: 50px;
width: 500px;
height: 550px;
background: linear-gradient(180deg, rgb(68, 168, 168) 60%, rgb(255, 255, 255));
padding: 0px;
}

dialog::backdrop{
visibility: 0%;
}


.modal-title{
font-size: 45px;
text-align: center;
font-weight: bold;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-bottom: 80px;
}

#modal-btn{
background-color: #14d9abde;
border: 1px solid rgb(255, 255, 255);
color: white;
font-weight: bold;
font-size: 15px;
width: 100px;
margin-bottom: 45px;
margin-left: 200px;
}

#modal-btn:hover {
background-color: rgba(46, 159, 131, 0.585);
border: 1px solid white;
border-color: white;
}

.modal-input{
width: 320px;
height: 45px;
margin-left: 92px;
margin-bottom: 55px;
border-radius: 8px;
border: 1px solid black;
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: rgb(65, 63, 63);
}
::-webkit-scrollbar-thumb:hover {
    background: #00ffc3de;
}

/* Cabeçalho */
.Cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px; /* ou 1rem */
    flex-wrap: wrap;
    padding: 13px; /* ou 0,8rem */
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(17, 33, 80);
    /*  background-color: rgba(17, 17, 72); */
    min-height: 50px;
    right: 0;
}

/* .Logo {
    height: 100%;
} */

/* .img-logo {
    max-width: 80px;
} */

nav {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.navegacao-links {
    text-decoration: none;
    color: white;
}

.navegacao-links:hover {
    color:#00ffc3de;
    transition: .4s;
    text-decoration: underline;
}

.botoes {
    display: flex;
    gap: 16px;
}

button {
    padding: 9px;
    font-size: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.botoes button { /*Botao logout*/
    background-color: #14d9abde;
    padding: 9px;
    font-size: 15px;
    border: 1px solid white;
    color: white;
    height: 40px;
    margin-top: 13px;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.botoes button:hover { /*Botão logout*/
    background-color: rgba(46, 159, 131, 0.585);
    border: 1px solid white;
    border-color: white;
}

.btn {
    background-color: #14d9abde;
    border: 1px solid white;
    color: white;
}

.btn:hover {
    background-color: rgba(46, 159, 131, 0.585);
    border: 1px solid white;
    border-color: white;
}


/* Conteúdo */
.Conteudo {
    flex: 1 0 auto;
    padding-top: 100px;
}

.Primeira{
    padding: 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* primeira seção */
section {
    padding: 64px;
    padding-top: 100px;
}

.primeira {
    background: linear-gradient(90deg, rgb(0, 0, 0), #251e5ab3);
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    min-height: 670px;
}

.box-image1 {
    background: url(/Imagens/—Pngtree—abstract\ technology\ binary\ codes\ and_1259890.png);
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat; 
}

.primeira > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
}

.primeira > div p {
    max-width: 600px;
    text-align: justify;
    color: white;
    font-size: 25px;
}

h1 {
    font-size: 32px;
    color: white;
    letter-spacing: 8px;
}

.primeira strong {
    color: #00ffc3de;
}

/* .imagemMain {
    max-width: 350px;
    padding: 16px;
} */

/* .imgADS {
    border-radius: 90%;
    width: 300px;
} */

.BTN-mat {
    background-color: #14d9abde;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
    width: 500px;
    margin-left: 45px;
}

.BTN-mat {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.BTN-mat:hover {
    background-color: rgba(46, 159, 131, 0.585);
    border: 1px solid white;
    border-color: white;
}

/* segunda seção */
.segunda {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.081), rgba(0, 0, 0, 0.842)75%);
    display: flex;
    height: 840px;
    flex-direction: column;
    gap: 16px;
}

.box-image2 {
    background: url(/Imagens/Section2.png);
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: -2px;
}

.segunda strong {
    color: #00ffc3de;
}

.segunda h1 {
    font-size: 40px;
}

.segunda > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
    flex-wrap: wrap;
}

#texto {
    letter-spacing: 0.5px;
    line-height: 26px;
}

/* .segunda > div img {
    width: 300px;
    border-radius: 10px;
} */

.segunda > div p {
    max-width: 1200px;
    color: white;
    text-align: justify;
    font-size: 20px;
}

/* terceira seção */
.terceira {
    /* background: linear-gradient(180deg, rgba(18, 16, 66, 0.829), rgba(0, 0, 0, 0.842)); */
    background-color: #130f34e1;
    display: flex;
    height: 850px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.box-image3 {
    background: url(Imagens/Section3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2px;
}

.terceira h1 {
    color: white;
}

.terceira ul h1 {
    font-size: 30px;
    font-weight: bold;
}

.terceira ul li {
    color: white;
    font-size: 20px;
    text-align: center;
}

.Disciplinas {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 20px;
}

.terceira h1 {
    font-size: 40px;
    color: #00ffc3de;
}

.periodo {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
    text-align: justify;
}

.periodo strong {
    color: #00ffc3de;
}

.terceira ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

#ocultar {
    color: #130f34e1;
}

/* quarta seção */
.quarta {
    background: linear-gradient(90deg, rgb(0, 0, 0), #251e5ab3);
    display: flex;
    height: 780px;
    flex-direction: column;
    gap: 32px;
}

.box-image4 {
    background: url(Imagens/Section4.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2px;
}

.quarta strong {
    color: #00ffc3de;
    font-size: 40px;
}

.quarta > div {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

#esquerda {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
}

#esquerda p {
    letter-spacing: 0.5px;
    line-height: 26px;
}

#direita {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
}

#direita p {
    letter-spacing: 0.5px;
    line-height: 26px;
}

.quarta p {
    max-width: 1500px;
    color: white;
    text-align: justify;
    font-size: 20px;
}

/* Rodapé */
.Rodape {
    padding: 64px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-shrink: 0;
    background-color: rgb(17, 33, 80);
    /* background-color: rgb(33, 33, 106); */
    /* background-color: rgba(17, 17, 72); */
    height: 200px;
    justify-content: space-evenly;
}

.contato a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.contato a:hover{
    color:#00ffc3de;
    transition: .4s;
    text-decoration: underline;
}

footer, ul {
    list-style: none;
    color: white; 
    font-size: 20px;
}

footer, li{
    padding-bottom: 12px;
    font-size: 18px;
}

footer .redes_sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
} 

svg:hover {
    fill: #00ffc3de;
}